<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.david.shortener.repository.UrlRepository">

    <select id="getUrl" parameterType="String" resultType="UrlVO">
        select id,url,create_date from tbl_url where url = #{id}
    </select>

    <select id="isExist" parameterType="String" resultType="boolean">
        select case when count(*) > 0 then true else false end from tbl_url where url = #{url}
    </select>

    <insert id="insertUrl" parameterType="UrlVO" >
        insert into tbl_url (url,create_date) values (#{url},now())
    </insert>


    <insert id="insertUrlHit" parameterType="UrlHitVO" >
        insert into tbl_url_hit (url,ip,hit_date) values (#{url}, #{ip}, now())
    </insert>


</mapper>